/*@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');*/
/*body{
	font-family:Arial,Century,"Times New Roman";
}
*/

/*Google Font Local Integrate
*/

@font-face{
	font-family: abc;
	src:local('Stick-Regular'), url(../libs/fonts/stick/Stick-Regular.ttf) format('woff');
}

@font-face{
	font-family:'AkayaTelivigala-Regular';
	src:local('AkayaTelivigala-Regular'),url(../libs/fonts/akayatelivigala/AkayaTelivigala-Regular.ttf) format('woff');
}

/*body{
	font-family:"abc" ,sans-serif;
}*/
.p1{
	font-family: 'abc', sans-serif;
}

.p2{
	font-family: 'AkayaTelivigala-Regular', Arial;
}

.p3{
	font-family: Arial;

	/*font-weight:bold;*/

	/*font-weight:900;*/

	/*font-style:italic;*/

	/*text-indent:50px;*/

	/*text-transform:uppercase;*/
	/*text-transform:lowercase;*/
	/*text-transform:capitalize;
*/
	font-variant:small-caps;
}

.a1{
	text-decoration: none;
	/*color:red;*/
}

.a1:visited{
	color:red;
}

.a1:hover{
	color:blue;
	font-size: 20px;
}


/*Font Integrate
1. Local Machine
2. Global Font (Google Api Fonts) 
->1.CDN Integrate, 2.Local Integrate */


.menutext{
	font-family:Arial;
	text-decoration:none;
	background-color:green;
	color:#fff;

	/*padding:10px;*/

	/*padding:10px 20px;*/

	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;

	/*border-radius:100px;*/

	/*padding:10px 10px 10px 10px;*/
}

.menutext:hover{
	background-color:orange;
	color:black;
	border-radius:50px;

}

.menutext:active{
	color:red;
}

.imagdesign{
	width:80px;
	height:80px;
	cursor: pointer;
}

.imagdesign:hover{
	width: 100px;
	height:100px;

	transition: 2s;
}