.div1{
	width:300px;
	height:100px;
	background-color:green;
}

/*.div1:first-child{
	
	background-color:orange;
	color:red;
}*/

/*.div1:first-of-type{
	
	background-color:red;
	color:blue;
}*/

/*.div1:last-of-type{
	background-color:orange;
	border-radius:50px;
}*/

/*.div1:nth-of-type(2){
	background-color:red;
	border-radius: 50px;
}*/

/*.div1:nth-of-type(odd){
	background-color:red;
	border-radius: 50px;
}

.div1:nth-of-type(even){
	background-color:blue;
	border-radius: 50px;
}*/

/*.div1:nth-of-type(even){
	background-color:purple;
}*/

.div1:nth-child(6){
	background-color:purple;
}